<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873571474310-s49h81bigda90ilf9hoo21sm21i3qsa6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873571474310-s49h81bigda90ilf9hoo21sm21i3qsa6</string>
	<key>API_KEY</key>
	<string>AIzaSyCOubK8A0lvJiJlNALPndQY5CkxqvrW6DU</string>
	<key>GCM_SENDER_ID</key>
	<string>873571474310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goMama</string>
	<key>PROJECT_ID</key>
	<string>gomama-84107</string>
	<key>STORAGE_BUCKET</key>
	<string>gomama-84107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873571474310:ios:1c74d5eb303571b844ea07</string>
</dict>
</plist>